* {
  box-sizing: border-box;
}

header {
  text-align: center;
  background-color: darkgrey;
}

h1 {
  padding: 10px 0px 10px 0px;
  margin: 0;
}

h2 {
  margin: 10px 0px 10px 0px;
}

main {
  text-align: center;
  width: 80vw;
  margin: auto;
}

footer {
  text-align: center;
  margin: 10px auto 10px auto;
}

footer > p {
  width: 90vw;
  margin: auto;
}

header > nav > ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0px 0px 10px 0px;
  margin: 0;
}

header > nav > ul > li {
  margin-right: 10px;
}

header > nav > ul > li:last-child {
  margin-right: 0px;
}

form > label {
  padding: 4px 0px 4px 0px;
}

form > input {
  padding: 4px;
  width: 100%;
}

form > input:last-of-type {
  margin-bottom: 8px;
}

form > label, input {
  display: block;
  text-align: left;
}

.login-form {
  margin: auto;
}

@media all and (min-width: 800px) {
  .login-form {
    width: 50%;
    margin: auto;
  }

}